body{
    height: 100vh;
    background: $special-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 75vw;
    max-width: 1200px;
    height: 90vh;
    max-height: 800px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.menu{
    width: 15%;
    height: 100%;
}

.menu-list{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    &:hover{
    background: $ternary-color;
        .menu-icon{
            transform: scale(1.2);
        }
    }
}

.menu-icon{
    font-size: 40px;
    color: $secondary-color;
    transition: .2s;
}

.menu-item--selected{
    background: $ternary-color;
}