.menu-horizontal{
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.menu-horizontal__nav{
    padding: 5px 25px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $ternary-color;
    border-bottom: solid 2.5px $primary-color;
}

.menu-horizontal__title{
    font-size: 30px;
    color: $secondary-color;
}

.menu-horizontal__list{
    z-index: -2;
    height: 0;
    transform: translateY(-400px);
    transition: .5s;
}

.menu-horizontal__list--open{
    height: 100%;
    transform: translateY(0);
    background: $secondary-color;
    transition: .5s;
}

.list-horizontal{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: $primary-color;
}

.list-horizontal__item{
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.horizontal__item--active{
    color: $ternary-color;
    border-bottom: solid 2px $ternary-color;
    &:hover{
        border-bottom: solid 2px $ternary-color;
    }
}

.hamburger{
    height: 40px;
    cursor: pointer;
    border: solid 2px $secondary-color;
    border-radius: 5px;
    outline: none;
    background: none;
    transition: $time-out;
}

.hamburger__line{
    display: block;
    width: 30px;
    height: 3px;
    margin: 5.5px;
    border-radius: 50px;
    background: $secondary-color;
    transition: $time-out;
}


.group{
    .hamburger__line:first-child{
      transform: translateY(15px);
      opacity: 0;
      transition: $time-in;
    }
  
    .hamburger__line:nth-child(2){
      transform: rotate(180deg);
      transition: $time-in;
    }
  
    .hamburger__line:last-child{
      transform: translateY(-15px);
      opacity: 0;
      transition: $time-in;
    }
  }

.menu-vertical{
    z-index: 99;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 200px;
    min-height: 100vh;
    background: $secondary-color;
    border-right: solid 1px $primary-color;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_picture{
    border-radius: 50%;
    box-shadow: $box-shadow;
    background: #000;
}

.profile_name{
    color: $primary-color;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list{
    text-align: center;
    box-shadow: $box-shadow;
}

.list_item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: $primary-color;
    border-bottom: solid 2px $secondary-color;
    background: $secondary-color;
    cursor: pointer;
    transition: .1s;
    &:hover{
        border-bottom: solid 2px $primary-color;
        transition: .1s;
    }
}

.list_item-active{
    color: $ternary-color;
    border-bottom: solid 2px $ternary-color;
    &:hover{
        border-bottom: solid 2px $ternary-color;
    }
}

.list_icon{
    margin-bottom: 2px;
}

.list_text{
    margin-top: 2px;
}

@keyframes subsection-entry{
    from{transform: translateX(150%);}
    to{transform: translateX(0);}
}

.networks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    font-size: 18px;
    width: 100%;
}

.networks_icon{
    color: $primary-color;
    transition: .5s;
    &:hover{
        color: $ternary-color;
        transition: .5s;
    }
}