@import 'helpers/variables';
@import 'helpers/reset';
@import 'helpers/responsive';

@import 'sections/header';
@import 'sections/section-main';
@import 'sections/section-home';
@import 'sections/section-about';
@import 'sections/section-projects';
@import 'sections/section-contact';
@import 'sections/section-skills';

