.hamburger{
    height: 40px;
    cursor: pointer;
    border: solid 2px $secondary-color;
    border-radius: 5px;
    outline: none;
    background: none;
    transition: $time-out;
}

.hamburger__line{
    display: block;
    width: 30px;
    height: 3px;
    margin: 5.5px;
    border-radius: 50px;
    background: $secondary-color;
    transition: $time-out;
}


.hamburger--open{
    .hamburger__line:nth-child(1), .hamburger__line:nth-child(3){
      opacity: 0;
      transition: $time-in;
    }

    .hamburger__line:first-child{
      transform: translateY(15px);
    }
  
    .hamburger__line:nth-child(2){
      transform: rotate(180deg);
      transition: $time-in;
    }
  
    .hamburger__line:last-child{
      transform: translateY(-15px);
    }
  }