.menu{
    width: 15%;
    height: 100%;
}

.menu-list{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    cursor: pointer;
    &:hover{
    background: $ternary-color;
        .menu-icon{
            transform: scale(1.2);
        }
    }
}

.menu-icon{
    font-size: 40px;
    color: $secondary-color;
    transition: .2s;
}

.menu-item--selected{
    background: $ternary-color;
}

@include change-on(medium){
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .content{
        top: 0;
        width: 100%;
        height: 90vh;
        overflow: hidden;
        position: absolute;
    }
    .menu{
        width: 100%;
        height: 10vh;
        position: fixed;
        bottom: 0;
        z-index: 100;
    }

    .menu-icon{
        font-size: 25px;
    }

    .menu-list{
        display: flex;
        flex-direction: row;
    }

    .home, .skills, .contact, .projects{
        padding-top: 15%;
        padding-bottom: 20%;
    }

    .subtitle{
        font-size: 30px;
    }

    .subtitle-section{
        font-size: 34px;
    }

    .cards_item{
        &:last-child{
            padding-bottom: 100px;
        }
    }

    .contact-elements{
        margin-top: 35px;
        flex-direction: column;
    }


    .contact-element{
        width: 150px;
        height: 150px;
        &:hover{
            background: $secondary-color;
            color: $ternary-color;
        }
        &:first-child{
            margin-bottom: 60px;
        }
    }


    body{
        background: $secondary-color;
    }

    .content{
        height: 90%;
    }
    
    .section{
        height: 100%;
    }

    .skills_list{
        flex-wrap: wrap;
    }

    .skill__icon--small{
        span{
            font-size: 36px;
        }
    }

    .skill__icon--hide{
        display: none;
    }

    .skills_list--show{
        display: flex;
    }

    .contact{
        overflow: hidden;
    }
}