
::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: $secondary-color; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #5C6A75;
    border-radius: 10px;
    &:hover{
      background: $ternary-color;
    }
  }