body{
    height: 100vh;
    background: $special-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90vw;
    max-width: 1250px;
    height: 90vh;
    max-height: 800px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}