.content{
    width: 85%;
    height: 100%;
    // overflow-y: auto;
    overflow: hidden;
    position: relative;
    background: $secondary-color;
}

.title{
    color: $primary-color;
    font-family: $primary-font;
    font-size: 42px;
    text-align: center;
}

.subtitle{
    color: $ternary-color;
    font-family: $secondary-font;
    font-size: 38px;
    text-align: center;
}

.subtitle-section{
    margin-bottom: 25px;
}

.profile-picture{
    width: 210px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: solid 5.5px $ternary-color;
}

.section{
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 35px;
    background: $secondary-color;
    height: 90vh;
    min-width: 100%;
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow: hidden;
}

.section--front{
    transition: .5s;
    z-index: 10;
    opacity: 1;
}

.section--hidden{
    opacity: 0;
}