.about{
    display: flex;
    justify-content: space-around;
    border-top: none!important;
    min-height: 100vh;
    padding: 45px;
}

.about__box{
    display: flex;
    justify-content: center;
}

.profile-data{

}

.profile-data__picture{
    width: 90%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 5px $ternary-color;
}

.about-colum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:nth-child(1){
        width: 40%;
    }
    &:nth-child(2){
        width: 60%;
    }
}

.about__title{
    font-family: $primary-font;
    color: $primary-color;
    font-size: 52px;
}

.about__subtitle{
    font-family: $secondary-font;
    color: $ternary-color;
    font-size: 42px;
}

.about__description{
    margin-top: 35px;
    margin-bottom: 35px;
}

.networks__title{
    width: 90%;
    text-align: center;
    color: $ternary-color;
    font-size: 18px;
}

.networks__list{
    display: flex;
    width: 90%;
    max-width: 400px;
    justify-content: center;
}

.networks__list__item{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.networks__link{
    text-decoration: none;
}

.networks__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    font-size: 18px;
    border-radius: 5px;
    background: $ternary-color;
    color: $secondary-color;
    &:hover{
        background: $primary-color;
    }
}

.networks--mobile{
    display: none;
}

.download-cv{
    margin-bottom: 20px;
}

.download-cv--container{
    padding: 5px;
    color: $secondary-color;
    text-decoration: none;
    border-radius: 5px;
    background: $ternary-color;
    &:hover{
        background: $primary-color;
        .download-cv--icon{
            animation: arrow .4s infinite alternate;
        }
    }
}

.download-cv--text{
    margin-left: 5.5px;
}

.download-cv--icon{
    margin-left: 5.5px;
    margin-right: 5.5px;
    animation: none;
}

@keyframes arrow{
    from {transform: translateY(-2.5px)}
    to {transform: translateY(2.5px);}
}