.social__main{
    // background: #000;
}

.main-icon{
    // margin: 20px;
    // width: 400px;
    // height: 600px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.main-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 220px;
    height: 200px;
    border-radius: 5px;
    &:hover{
        background: $primary-color;
        .main-icon--icon, .main-icon--text{
            color: $secondary-color;
        }
    }
}

.social__main{
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    // background: #000;
}

.main-icon--text{
    color: $ternary-color;
    font-size: 20px;
}


.main-icon{

}

.main-icon--icon{
    // background: #000;
    font-size: 125px;
    color: $ternary-color;
    &:hover{
        color: $primary-color;
    }
}

.social__second{
    margin-top: 15px;
}

.networks__contact{
    // background: #000;

    .networks__list--contact{
        margin-top: 35px;
        // background: red;
        display: flex;
        width: 90%;
        max-width: 570px;
        justify-content: space-evenly;
    }

    .networks__icon{
        width: 56px;
        height: 56px;
        font-size: 38px;
    }
}