.sticky {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    background: $white-color;
    transition: 0;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    z-index: 999;
    .menu .menu__link .menu__link__text{
        color: $ternary-color;
    }

    .brand__link{
        // color: $primary-color;
        // display: inline;
    }
}

.header__row{
    transition: background-color .5s;
    padding-top: 2em;
    padding-bottom: 1em;
    align-content: center;
    justify-content: space-between;
}


.menu{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__link{
    text-decoration: none;
    font-family: $secondary-font;
}

.menu__link__text{
    position: relative;
    font-size: 1.1em;
    color: $secondary-color;
    border: none;
    transition: .2s;    

    &:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        border-bottom: solid 1.5px;
        transition: .5s ease;
    }

    &:hover{
        &:before{
            width: 100%;
            left: 0;
        }
    }
}

.menu__link__text--active{

}

.brand{
    font-size: 1.5em;
    font-family: $primary-font;
}

.brand__link{
    color: $white-color;
    display: none;
}

.box{
    display: none;
    position: fixed;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
}



.hamburger{
    cursor: pointer;
    border: solid 2px $secondary-color;
    border-radius: 5px;
    outline: none;
    background: $primary-color;
    transition: .3s;
    overflow: hidden;
}

.hamburger__line{
    display: block;
    width: 25px;
    height: 3px;
    margin: 8px;
    border-radius: 50px;
    background: $secondary-color;
    transition: .3s;
}

.cross{
    .hamburger__line:first-child{
      transform: translateY(10px) rotate(-40deg) scale(1.2);
      transition: .3s;
    }
  
    .hamburger__line:nth-child(2){
      transform: translateX(55px);
      opacity: 0;
      transition: .3s;
    }
  
    .hamburger__line:last-child{
      transform: translateY(-12px) rotate(40deg) scale(1.2);
      transition: .3s;
    }
}

@include change-on(medium){
    .box{
        display: unset;
        z-index: 9999;
    }

    .header__row--mobile{
        position: absolute;
        position: fixed;
        background: rgba(0, 0, 0, 0.7);
        height: 100vh;
        width: 0;
        padding: 0;
        transition: .7s;
        left: -10%;
        z-index: 1;
        .menu-brand{
            display: none;
        }
        .menu{
            height: 80%;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        
        .menu__link{
            width: 100%;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .menu__link__text{
            font-size: 2.2em;
            -webkit-text-stroke: 1px $dark-color;
        }
    }

    .header__row--mobile--open{
        width: 105vw;
        left: 0;
    }

    .sticky {
        margin-left: -15px;
        .menu .menu__link .menu__link__text{
            color: $secondary-color!important;
        }
    }
}

.box--dark{
    border: solid 2px $secondary-color;
    transition: .7s;
    .hamburger__line{
        background: $secondary-color;
    }
}