.sticky {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    background: #fff;
    // transition: .5s;
    // border-bottom: solid $ternary-color 0.5px;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    z-index: 999;
    .menu .menu__link .menu__link__text{
        color: $ternary-color;
    }

    .brand__link{
        color: $ternary-color;
        display: inline;
    }
  }

.header__row{
    transition: background-color 1s;
    padding-top: 2em;
    padding-bottom: 1em;
    align-content: center;
    justify-content: space-between;
}


.menu{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__link{
    text-decoration: none;
    font-family: $secondary-font;
}

.menu__link__text{
    position: relative;
    font-size: 1.1em;
    color: $secondary-color;
    border: none;
    transition: .2s;    

    &:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        border-bottom: solid 1.5px;
        transition: .5s ease;
    }

    &:hover{
        &:before{
            width: 100%;
            left: 0;
        }
    }
}

.menu__link__text--active{

}

.brand{
    font-size: 1.5em;
    font-family: $primary-font;
}

.brand__link{
    color: #fff;
    display: none;
}