*, *::before, *::after {
    padding: 0;
    margin: 0;
}

body {

}

.main-container {
    padding: 0;
    background: $color-blue;
    font-family: $font-segoe-regular;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    @media (min-width: $screen-sm) {
        padding: 30px;
    }
}

.content-container {
    padding: 30px;
    border-radius: 0;
    background: $color-white;
    width: 100%;
    max-width: 1450px;
    @media (min-width: $screen-sm) {
        border-radius: 15px;
    }
}

.section-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-content-title {
    width: 95%;
    margin-bottom: 50px;
    h2 {
        font-size: 26px;
        color: $color-black;
        font-family: $font-segoe-bold;
        &:after {
            content: "";
            display: block;
            margin-top: 4px;
            width: 35px;
            height: 2px;
            background: $color-blue;
        }
    }
    @media (min-width: $screen-sm) {
        width: 80%;
    }
}

.section-container {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}