.portfolio__row{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    max-width: 750px;
}

.card{
    width: 300px;
    margin: 25px;
}

.card__wrapper{
    position: relative;
    overflow: hidden;
    &:hover{
        .card__stack{
            transform: translateX(0) translateY(-9%);
            transition: .5s;
        }
    }
}

.card__link{

}


.card__img{
    width: 100%;
    border-radius: 5px;
}

.card__stack{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: $ternary-color-light;
    transform: translateX(-100%) translateY(-9%);
    transition: .5s;
}

.card__icon{
    color: $secondary-color;
    font-size: 48px;
}

.card__icon--text{
    font-size: 30px;
}

.card__title{
    text-align: center;
    color: $ternary-color;
    font-size: 32px;
}