$card-background:     #fff;
$card-border-width:   0;
$card-border-color:   #eee;
$card-radius:         5px;

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 25px 0 0 0;
  max-width: 1200px;
}

.card_heading{
    font-family: $secondary-font;
    color: $special-color;
}

.card_text{
    font-family: $secondary-font;
    font-size: 14px;
    color: $special-color;
}

.cards_item {
    display: flex;
    // .no-flexbox & { float: left; }
    width: 100%;
    justify-content: center;
    margin-top: 0;
    padding: 0 1em 2em;
    width: 50%;

    // background: #000;

    // > 640px, 2 items/row
    @media screen and (min-width: 42em) and ( max-width: 60em ) {
        .no-flexbox &:nth-child(2n+1) { clear: both; }
    }

    // // > 960px, 3 items/row
    @media screen and (min-width: 60em) {
            width: 33.3333%;
    //         .no-flexbox &:nth-child(3n+1) { clear: both; }
    }
}

.card {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    background-color: $card-background;
    border: $card-border-width solid $card-border-color;
    border-radius: $card-radius;
    box-shadow: 0px 7px 14px -2px rgba(163,163,163,1);
}

.card_image {
    img {
        width: 100%;
        border-top-left-radius: ( $card-radius - $card-border-width );
        border-top-right-radius: ( $card-radius - $card-border-width );
    }
}

.card_content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin-top: 0;
    padding: 1.5em;
    p {
        margin-top: 15px;
        margin-bottom: 10px;
        flex: 1 0 auto;
    }

}

.card_button{
    display: block;
    text-align: center;
    font-family: $secondary-font;
    background: $secondary-color;
    border-radius: 5px;
    padding: 10px;
    color: $primary-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    border: 2px solid $primary-color;
    transition: all .2s ease-out;
    &:hover{
        color: $secondary-color;
        background: $primary-color;
    }
}

.card_list{
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    // background: #000;
    span{
        font-size: 44px;
        color: $ternary-color;
    }
    .fab{
        font-size: 34px;
    }
    .icon__text{
        font-size: 30px;
    }
}

.button-list{
    display: flex;
    justify-content: space-around;
    a{
        flex-grow: 1;
    }
    a:first-child{
        margin-right: 10px;
        &:hover{
            background: $primary-color;
        }
    }
    a:last-child{
        margin-left: 10px;
        &:hover{
            border: 2px solid $ternary-color;
            background: $ternary-color;
        }
    }
}

.card_list--special{
    margin-bottom: 15px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    // flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    // background: #000;
}

.card__special-item{
    font-size: 20px;
    font-family: $secondary-font;
    color: $ternary-color;
}