.section-introduction-container {
  @include addResponsiveProperty(margin-bottom, 30px, $medium: 95px);
}

.section-introduction-col-img {
  margin-right: 20px;
  img {
    width: 250px;
    height: 250px;
    box-shadow: -3px 0px 16px 0px rgba(112,112,112,0.75);
    border: solid 10px $color-white;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  @include on-screen-md {
    img {
      margin-bottom: 0;
    }
  }
}

.section-introduction-job {
  font-size: 18px;
}

.section-introduction-name {
  font-size: 40px;
}

.section-introduction-description {
  font-size: 20px;
}