.section__home{
    height: calc(100vh - 80px);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
}

.hero-image{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/3.jpg');   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.name{
    margin-bottom: .1em;
    color: $secondary-color;
    font-size: 3.6em;
    font-family: $primary-font;
}

.position{
    margin-bottom: .1em;
    font-size: 2.4em;
    font-family: $secondary-font;
    color: $primary-color;
}

.description{
    color: $secondary-color;
    font-family: $secondary-font;
    font-size: 1.3em;
    margin-bottom: 15px;
}

.social-networks{
    display: flex;
    width: 375px;
    margin-top: 15px;
    justify-content: space-between;
}

.social-network-list{
    font-size: 22px;
}

.social-network__link{
    text-decoration: none;
    display: inline-flex;
    color: $secondary-color;
    border: solid $secondary-color 1px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &:hover{
        color: $primary-color;
        background: $secondary-color;
    }
}

.social-network__icon{
    transition: all .2s;
}


@include change-on(large){
    .section__home{
        width: 100%;
    }
}

@include change-on(580px){
    .name{
        font-size: 3em;
    }

    .position{
        font-size: 2em;
    }   
    
    .social-networks{
        display: flex;
        width: auto;
        margin-top: 15px;
        justify-content: space-between;
    }
}

@include change-on(medium){
    .px-c{
        padding: 0 1.5em;
    }

    .section__home{
        margin-top: 55px;
    }

    .name{
        font-size: 2.5em;
    }

    .position{
        font-size: 2em;
    }   
    
    .social-networks{
        display: flex;
        width: auto;
        margin-top: 15px;
        justify-content: space-between;
    }
}

@include change-on(small){
    .section__home{
        margin-top: 70px;
    }

    .name{
        font-size: 2.8em;
    }

    .position{
        font-size: 1.7em;
        margin-top: 7px;
        margin-bottom: 7px;
    }   
}