.section{
    // min-height: 100vh;
    padding-top: calc(80px + 4em);
    padding-bottom: calc(80px + 4em);
}

.section__about,
.section__resume{
    background: #FFF;
}


.subtitle{
    margin-bottom: .1em;
    font-size: 2.4em;
    font-family: $secondary-font;
    color: $ternary-color;
    margin-bottom: 45px;
}