*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

.main-container {
    background: $color-blue;
    font-family: $font-segoe-regular;
}

.content-container {
    padding: 30px;
    border-radius: 0;
    background: $color-white;
    max-width: 1450px;
    @include on-screen-xs {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

.section-content-title {
    width: 95%;
    margin-bottom: 50px;
    h2 {
        font-size: 26px;
        color: $color-black;
        font-family: $font-segoe-bold;
        &:after {
            content: "";
            display: block;
            margin-top: 4px;
            width: 35px;
            height: 2px;
            background: $color-blue;
        }
    }
    @include on-screen-sm {
        width: 80%;
    }
}

.section-experience-column {
    max-width: 500px;
}

.article-item {
    margin: 20px 0;
    width: 250px;
}
