.section-skills-row {
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  // background: orange;
}

.skill-list {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 0;
  }
}

.devicons {
  font-size: 64px;
  color: $color-blue;
}
