.section-footer {
  width: 100%;
  max-width: 1450px;
  background: $color-white-dark;
  padding: 10px 40px;
  @include on-screen-sm {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
