.section{
    padding-top: calc(50px + 4em);
    padding-bottom: calc(80px + 4em);
}

.section__about,
.section__resume{
    background: $white-color;
}


.subtitle{
    font-size: 2.4em;
    font-family: $secondary-font;
    color: $primary-color;
    margin-bottom: 45px;
}

.inline-link{
    text-decoration: none;
    color: $ternary-color;
    &:hover{
        text-decoration: underline;
    }
}

