.section-experience-column--education {
  text-align: center;
  border: solid 1px $color-gray-light;
  border-radius: 5px;
  padding: 20px;
  .experience-icon {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
