.row-about{
    justify-content: space-between;
}

.about__photo{
    overflow: hidden;
    position: relative;
    img{
        padding-left: 45px;
        padding-bottom: 25px;
        position: relative;
        width: 420px;
        height: 100%;
        z-index: 1;
    }

    &:before{
        content: "";
        background-color: $gray-color;
        width: 420px;
        height: 420px;
        position: absolute;
        bottom: -15%;
        left: -5%;
        z-index: 0;
    }
}

.col-about{
    padding-left: 45px;
    padding-right: 45px;
    // background: #000;
}

.text{
    font-size: 20px;
    font-family: $secondary-font;
    margin-bottom: 20px;
    color: $dark-color;
}

.button-download{
    display: inline-block;
    border: solid $primary-color 2px;
    margin-top: 25px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    font-family: $secondary-font;
    color: $primary-color;
    text-align: center;
    transition: .1s;
    &:hover{
        color: $white-color;
        background: $primary-color;
    }
}