.section-introduction {
  display: flex;
  justify-content: center;
}

.section-introduction-container {
  width: 100%;
  margin-bottom: 95px;
}

.section-introduction-col-img {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  img {
    width: 250px;
    height: 250px;
    box-shadow: -3px 0px 16px 0px rgba(112,112,112,0.75);
    border: solid 10px $color-white;
    border-radius: 50%;
  }
}

.section-introduction-col-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.section-introduction-job {
  font-size: 18px;
  color: $color-gray;
}

.section-introduction-name {
  font-size: 40px;
  font-family: $font-segoe-bold;
  margin-bottom: 10px;
  color: $color-black;
}
.section-introduction-description {
  font-size: 20px;
  margin-bottom: 25px;
  color: $color-gray;
}