.container{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background: $secondary-color;
}

.content{
    width: 100%;
    height: 100%;
    background: $secondary-color;
    margin-left:  200px;
}

.section{
    min-height: 100vh;
    padding: 45px;
    display: flex;
    flex-direction: column;
}

.section__title{
    font-size: 45px;
    margin-bottom: 15px;
    color: $ternary-color;
}

.regular-text{
    font-size: 22px;
    color: $ternary-color;
    max-width: 1050px;
}