.section{
    position: relative;
    background: $secondary-color;
}

.subsection{
    z-index: -1;
    position: absolute;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    padding: 50px 250px;
}

.subsection-prev{
    z-index: 0;
}

.subsection-active{
    z-index: 9;
    animation: subsection-entry 1s forwards linear;
    transition: 1.5s;
}