$breakpoints: (
    small: 290px,
    medium: 420px,
    large: 770px,
    xlarge: 1100px,
);


@mixin change-on($bp){

@if map-has-key($breakpoints, $bp){
    @media screen and (max-width: map-get($breakpoints, $bp)) {
        @content;
    }  
    }@else{
        @media screen and (max-width: $bp){
            @content;
        }
    }

}
//end of mixin


@include change-on(xlarge){
    .container{
        width: 83vw;
    }
}

@include change-on(large){
    .container{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .section{
        height: 100vh;
    }

    .home{
        padding-bottom: 50px;
    }



}

// @include change-on(medium){
//     .skills{
//         background: orange;
//     }
// }

@include change-on(580px){
    .cards_item {
        width: 100%;
    }

    .skill__icon{
        font-size: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

@include change-on(medium){
    .section{
        padding: 20px;
    }
    .title{
        font-size: 38px;
    }
    .subtitle{
        font-size: 30px;
    }

    .skill__icon{
        font-size: 42px;
    }

    .social-networks{
        width: 295px;
    }
}
