// resolutions to make changes
$breakpoints: (
    small: 360px,
    medium: 470px,
    large: 710px,
    xlarge: 1100px,
);

// start of mixin
@mixin change-on($bp){

@if map-has-key($breakpoints, $bp){
    @media screen and (max-width: map-get($breakpoints, $bp)) {
        @content;
    }  
    }@else{
        @media screen and (max-width: $bp){
            @content;
        }
    }
}
// end of

