/* Signature */
.section-signature{
    display: flex;
    justify-content: center;
    // min-width: 100vw;
    // min-height: 100vh;
    // background: $secondary-color;
    background: whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;
}
.signature{
    color: #85A9C1;
    font-family: Roboto, sans-serif;
  }
   
  .signature__name{
    transition: .5s;
    color: #6E8CA0;
    text-decoration: none;
    &:hover{
      color: #1E6583;
      text-decoration: underline;
      transition: .5s;
    }
  }
   
  .svg-icon {
    width: 1em;
    height: 1em;
    animation: pulse-animation .5s alternate infinite;
    fill: #BA2632;
  }
   
@keyframes pulse-animation{
    to{transform: scale(1.2);}
}