$primary-color: #4281A4;
$secondary-color: #FAFAFA;
$ternary-color: #85A9C1;

$dark-color: #5C6A75;
$gray-color: #F3F3F3;
$white-color: #FFF;


// $primary-color: #64C9C7;
// $primary-color: #8AC8C6;
 
$primary-font: 'Fredoka One', cursive;
$secondary-font: 'Varela Round', sans-serif;