$primary-color: #59C3C3;
$secondary-color: #FAFAFA;
$ternary-color: #5C6A75;
$ternary-color-light: lighten($ternary-color, 25%);

$time-in: .3s;
$time-out: .3s;

$primary-font: 'Fredoka One', cursive;
$secondary-font: 'Varela Round', sans-serif;